<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
  <%- include('../partials/header') %>
</header>
<body>
  <h1>Welcome to Hungry as Truck</h1>


  <main class="container-fluid">
  <% if (user === undefined) { %>

    
  <p class="iAm"><strong>I am a...</strong></p>
  <div class="row">
    <a class="btn btn-primary col-md-4" href="/hp/facebook">Hungry Person</a>
    <a class="btn btn-primary col-md-4" href="/to/facebook">Truck Owner</a>
  </div>
  

   <% } %>

  </main>

  <% if (user !== undefined) { %>
    <% if (user.trucks) { %>
      <select name="select">
        <% user.trucks.forEach(function(truck) { %>
          <option> <%= truck.name %> </option> %>
       <% }); %>
      </select>
      <input type="text" id="address">
      <input type="submit" id="geocode">
      <a class="btn btn-default" id="add-truck-btn">Add Truck</a>
      <form id="truck-form">

      </form>
    <% } %>

      <div id="map"></div>

  <% } %>
  <%- include('../partials/templates') %>
  <%- include('../partials/scripts') %>

</body>
</html>
